In [7]:
import os

import s3fs
import pandas as pd

In [8]:
# Create filesystem object
S3_ENDPOINT_URL = "https://" + os.environ["AWS_S3_ENDPOINT"]
fs = s3fs.S3FileSystem(client_kwargs={'endpoint_url': S3_ENDPOINT_URL})

## Lister les fichiers d'un bucket

In [9]:
BUCKET = "avouacr"
fs.ls(BUCKET)

['avouacr/02_Data_Management.7z',
 'avouacr/02_Data_Management.zip',
 'avouacr/avouacr',
 'avouacr/data-structures2.md',
 'avouacr/dev-shiny',
 'avouacr/diffusion',
 'avouacr/entrypoint.sh',
 'avouacr/formation-initiation-python.odt',
 'avouacr/future.R',
 'avouacr/hackathon',
 'avouacr/init.sh',
 'avouacr/parlapply.R',
 'avouacr/projets-python',
 'avouacr/pythonw.exe']

## Importer un fichier dans un service

### Mode interne

In [12]:
BUCKET = "avouacr"
FILE_KEY_S3 = "hackathon/quakes.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3

with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    df = pd.read_csv(file_in, sep=",")

In [14]:
df.head()

,DateTime,Latitude,Longitude,Depth,Magnitude,MagType,NbStations,Gap,Distance,RMS,Source,EventID
0,1970/01/04 17:00:40.20,24.139,102.503,31.0,7.5,Ms,90.0,NaN,NaN,0.0,NEI,1.970010e+09
1,1970/01/06 05:35:51.80,-9.628,151.458,8.0,6.2,Ms,85.0,NaN,NaN,0.0,NEI,1.970011e+09
2,1970/01/08 17:12:39.10,-34.741,178.568,179.0,6.1,Mb,59.0,NaN,NaN,0.0,NEI,1.970011e+09
3,1970/01/10 12:07:08.60,6.825,126.737,73.0,6.1,Mb,91.0,NaN,NaN,0.0,NEI,1.970011e+09
4,1970/01/16 08:05:39.00,60.280,-152.660,85.0,6.0,ML,0.0,NaN,NaN,NaN,AK,NaN

### Mode externe

In [18]:
URL = "https://minio.lab.sspcloud.fr/avouacr/hackathon/quakes.csv"

df2 = pd.read_csv(URL, sep=",")

In [19]:
df2.head()

,DateTime,Latitude,Longitude,Depth,Magnitude,MagType,NbStations,Gap,Distance,RMS,Source,EventID
0,1970/01/04 17:00:40.20,24.139,102.503,31.0,7.5,Ms,90.0,NaN,NaN,0.0,NEI,1.970010e+09
1,1970/01/06 05:35:51.80,-9.628,151.458,8.0,6.2,Ms,85.0,NaN,NaN,0.0,NEI,1.970011e+09
2,1970/01/08 17:12:39.10,-34.741,178.568,179.0,6.1,Mb,59.0,NaN,NaN,0.0,NEI,1.970011e+09
3,1970/01/10 12:07:08.60,6.825,126.737,73.0,6.1,Mb,91.0,NaN,NaN,0.0,NEI,1.970011e+09
4,1970/01/16 08:05:39.00,60.280,-152.660,85.0,6.0,ML,0.0,NaN,NaN,NaN,AK,NaN

## Exporter un fichier vers MinIO

In [16]:
BUCKET_OUT = "avouacr"
FILE_KEY_OUT_S3 = "demo/quakes.csv"
FILE_PATH_OUT_S3 = BUCKET_OUT + "/" + FILE_KEY_OUT_S3

with fs.open(FILE_PATH_OUT_S3, 'w') as file_out:
    df.to_csv(file_out)